@{
    ViewData["Title"] = "About Us";
}
<h1 class="text-center">@ViewData["Title"]</h1>
<br />

<div class="box">
    <div class="row col-md-offset-2 col-md-8" style="padding:2em;">
        <img src="~/images/dave.jpg" class="img-circle center-block" height="200">
        <h3>Dave Cowan</h3>
        <p>My first exposure to a computer was when our family got a Magnavox HeadStart SX running the GeoWorks Ensemble graphic user interface. We had a couple of games including The Manhole and The Secret of Monkey Island. We also had a full set of encyclopedia on CD-ROM! As I recall, this computer had 640K of RAM and a whopping 40MB hard disk. And, it wasn’t compatible with Windows software and third-party support was poor. Needless to say, the future of this line of computers was doomed to failure. Oh, I just remembered we also had a flight simulator called Jet Fighter, which I loved! Ah, the good ol’ days.</p>
    </div>  
    <div class="row col-md-offset-2 col-md-8" style="padding:2em;">
        <img src="~/images/emily.JPG" class="img-circle center-block" height="200" />
       
        <h3>Emily Allain</h3>
        <p>My first experience with technology was in the early 2000s.  My mother would bring home the company computer home in the winter from the golf course she worked at;
        without fail we would spend hours playing games endlessly on the computer, to the dismay of my mother.
        The first time we connected to the internet with dial-up internet, our lives were forever changed.</p>

    </div>
</div>
