@{
    ViewData["Title"] = "Home Page";
}
          

<div class="text-center">
    <h1 id="main-title">Welcome to the History of Computers</h1>
 <br />
    <div class="col-md-3">
    </div>
    <div class="thumbnail col-md-3">
        <p>@*Pre-*@1970s</p>
    </div>
    <div class="thumbnail col-md-3">
        <p>1980s</p>
    </div>
    <div class="col-md-3">
    </div>
    <div class="thumbnail col-md-3">
        <p>1990s</p>
    </div>
    <div class="thumbnail col-md-3">
        <p>2000s</p>
    </div>
    <div class="col-md-3">
    </div>
</div>

