@{
    ViewData["Title"] = "Home Page";
}


<div class="container col-md-offset-2 col-md-8 text-center" id="main-page">

    <br />
    <br />

  
    <h1 class="text-center" id="main-title">Choose a Time Period to Continue</h1>
    <br />
    <div class="row">
        <a asp-controller="Article" asp-action="Index" asp-route-id="1">
            <div class="trans">
                <div class="thumbnail col-sm-push-1 col-sm-3" id="pre70s">
                    <p class="decade">Pre-1970s</p>
                    @*<img src="~/images/70s.png" />*@
                </div>
               
            </div>
        </a>
        <a asp-controller="Article" asp-action="Index" asp-route-id="2">
            <div class="trans">
                <div class="thumbnail col-sm-push-1 col-sm-3" id="d1970s">
                    <p class="decade">1970s</p>
                </div>
                <div class="overlay"></div>
            </div>

        </a>
        <a asp-controller="Article" asp-action="Index" asp-route-id="3">
          
                <div class="thumbnail col-sm-push-1 col-sm-3" id="d1980s">
                    <p class="decade">1980s</p>
                </div>
         
        </a>
    </div>
    <div class="row">
        <a asp-controller="Article" asp-action="Index" asp-route-id="4">
            <div class="trans">
                <div class="thumbnail col-sm-push-1 col-sm-3" id="d1990s">
                    <p class="decade">1990s</p>
                </div>
            </div>
        </a>
        <a asp-controller="Article" asp-action="Index" asp-route-id="5">
            <div class="trans">
                <div class="thumbnail col-sm-push-1 col-sm-3" id="d2000s">
                    <p class="decade">2000s</p>
                </div>
            </div>
        </a>
        <a asp-controller="Article" asp-action="Index">
            <div class="trans">
                <div class="thumbnail col-sm-push-1 col-sm-3" id="all-decade">
                    <p class="decade">View All</p>
                </div>
            </div>
        </a>
    </div>
</div>


