@{
    ViewData["Title"] = "Home Page";
}
          

<div class="box text-center">
    <h1 class="text-center" id="main-title">Welcome to the History of Computers</h1>
 <br />
    <div class="col-sm-2"></div>
    <a asp-controller="Article" asp-action="Index" asp-route-id="1">
        <div class="thumbnail col-md-2">
            <p>Pre-1970s</p>
        </div>
    </a>
    <a asp-controller="Article" asp-action="Index" asp-route-id="2">
        <div class="thumbnail col-md-2">
            <p>1970s</p>
        </div>
        </a>

    <a asp-controller="Article" asp-action="Index" asp-route-id="3">
        <div class="thumbnail col-md-2">
            <p>1980s</p>
        </div>
        </a>
   
    <a asp-controller="Article" asp-action="Index" asp-route-id="4">
        <div class="thumbnail col-md-2">
            <p>1990s</p>
        </div>
        </a>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <a asp-controller="Article" asp-action="Index" asp-route-id="5">
        <div class="thumbnail col-md-2">
            <p>2000s</p>
        </div>
        </a>
    <a asp-controller="Article" asp-action="Index">
        <div class="thumbnail col-md-2">
            <p>View All</p>
        </div>
        </a>
</div>

