@{
    ViewData["Title"] = "Home Page";
}
          

<div class="box text-center">
    <h1 class="text-center" id="main-title">Welcome to the History of Computers</h1>
 <br />
        <div class="thumbnail col-md-3">
            <p>Pre-1970s</p>
        </div>
        <div class="thumbnail col-md-3">
            <p>1970s</p>
        </div>
        <div class="thumbnail col-md-3">
            <p>1980s</p>
        </div>
        <div class="thumbnail col-md-3">
            <p>1990s</p>
        </div>
        <div class="thumbnail col-md-3">
            <p>2000s</p>
        </div>
        <div class="thumbnail col-md-3">
            <p>View All</p>
        </div>
</div>

