/*General Content Start*/
html {
    min-height: 100%;
}

h3{
    font-family:'Courier New';
}

body {
    background-color: #333333;
    color: ghostwhite;
    min-height: 100%;
}

p {
    word-wrap: break-word;
    font-family:'Courier New';
}

h1{
    font-family:'Courier New';
}

.container.body-content {
    min-height: 100%;
}

/*General Content End*/

/*Article CSS*/
h2#article-title{
    font-family:'Courier New';
}

h3#article_year{
    font-family:'Courier New';
    font-weight:bold;
}


p#article_body{
    font-family:Consolas;
}

label{
    font-family:'Courier New';
}

.post-button{

}

/*Article CSS End*/


/*ID Related Content*/
h1#main-title {
    font-family: 'Courier New';
}

div#terminal.center-block {
    background: #fcfbef; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fcfbef 0%, #e9dac3 46%, #e9dac3 46%, #e8cda4 91%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fcfbef 0%,#e9dac3 46%,#e9dac3 46%,#e8cda4 91%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fcfbef 0%,#e9dac3 46%,#e9dac3 46%,#e8cda4 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 50px 40px;
    /*box-shadow: -1px 7px 148px -8px rgba(224,197,224,0.5);*/
    border-radius: 5%;
}



div#comment.thumbnail {
    text-align: left;
    font-size: 1em;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 0;
    box-shadow: none;
    min-height:unset;
}

    div#comment.thumbnail span {
        font-style: italic;
        font-size: 1em;
    }


/*ID Related Content End*/


/*Terminal on Home*/

.frame {
    background-color: transparent;
    border-radius: 2rem;
    border: 1rem solid;
    border-bottom-color: #121212;
    border-left-color: #080808;
    border-right-color: #080808;
    border-top-color: #020202;
    box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
    height: 1700%;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 96%;
    pointer-events: none;
}

.piece {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.output {
    -webkit-animation: crt-output 10ms infinite;
    animation: crt-output 10ms infinite;
    background-color: #031e11;
    /*overflow: scroll;*/
    position: absolute;
    padding: 3rem 2rem;
    pointer-events: auto;
    text-shadow: 0rem 0.2rem 1rem #0c7b46;
    z-index: -1;
}
/*End Terminal on Home*/



/*eallain start changes*/


.thumbnail {
    padding: 80px 10px;
    vertical-align: middle;
    text-align: center;
    margin: 15px;
    border-radius: 20%;
    /*min-height:255px;*/
    color: ghostwhite;
    font-family: 'Courier New';
    font-size: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    /*background-color: darkslategrey;*/
    background: #256f77; /* Old browsers */
    background: -moz-linear-gradient(top, #256f77 0%, #1b2533 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #256f77 0%,#1b2533 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #256f77 0%,#1b2533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#256f77', endColorstr='#1b2533',GradientType=0 ); /* IE6-9 */
}

    .thumbnail:hover {
        box-shadow: none;
    }


/*eallain end changes*/
.article-details {
    padding-top: 20px;
    padding-bottom: 20px;
}

.article-image {
    padding-top: 20px;
}

.post-button {
    margin-top: 10px;
    background-color: darkslategray;
}

.site-footer {
    border-top: solid 2px black;
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: darkslategrey;
}

    .site-footer p {
        margin: 0;
        padding: 0;
    }
/*eallain start of changes*/
body {
    /*background: #333;*/
    /*background:black;*/
    background:fixed;
    background: #1a422a; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #1a422a 12%, #021c10 50%, #000000 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #1a422a 12%,#021c10 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #1a422a 12%,#021c10 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a422a', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

img {
    border: 0;
    max-width: 100%;
}

.page-header h1 {
    font-size: 3.26em;
    text-align: center;
    color: #efefef;
    text-shadow: 1px 1px 0 #000;
}

/*dcowan start of changes*/
div.scroll {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}



/* Navigation Bar */
.navbar {
    /*background-color: darkslategray;*/
    background: #256f77; /* Old browsers */
    background: -moz-linear-gradient(top, #256f77 0%, #1b2533 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #256f77 0%,#1b2533 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #256f77 0%,#1b2533 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#256f77', endColorstr='#1b2533',GradientType=0 ); /* IE6-9 */
}

.navbar-brand {
    text-shadow: 2px 2px 2px black;
    padding: 12px 15px;
}

.navbar-inverse .navbar-brand {
    font-family: 'Courier New';
    color: ghostwhite;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: inherit;
}

.dropdown-menu > li > a {
    font-family: 'Courier New';
    padding: 10px;
    color: white !important;
    text-shadow: 2px 2px 2px black;
}

.navbar-inverse .btn-link {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-family: 'Courier New';
    text-decoration: none;
}

.dropdown-menu > li > a:hover {
    background-color: cadetblue;
    color: white;
}

.dropdown-menu {
    background-color: darkslategrey;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Courier New';
    color: ghostwhite;
    text-shadow: 2px 2px 2px black;
    font-size: 17px;
}
/*Navigation Bar End*/

/*Timeline Start*/
/** timeline box structure **/
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 20px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        margin: 20px;
        background-color: #eee;
        left: 50%;
        margin-left: -1.5px;
    }

.tldate {
    display: block;
    width: 200px;
    background: #414141;
    border: 3px solid #212121;
    border-radius: 50%;
    color: #ededed;
    margin: 0 auto;
    padding: 3px 0;
    font-weight: bold;
    text-align: center;
    -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
    font-family: 'Courier New';
    font-size: 150%;
}

.timeline li {
    margin-bottom: 25px;
    position: relative;
}

    .timeline li:before, .timeline li:after {
        content: " ";
        display: table;
    }

    .timeline li:after {
        clear: both;
    }

    .timeline li:before, .timeline li:after {
        content: " ";
        display: table;
    }
    /** timeline panels **/
    .timeline li .timeline-panel {
        width: 46%;
        float: left;
        background: #fff;
        border: 1px solid #d4d4d4;
        padding: 20px;
        position: relative;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
    }

.timeline-panel {
    margin: 1em -1em;
}
/** panel arrows **/
.timeline li .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline li .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
    top: 0;
    right: 0;
    display: none;
    border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
    float: right;
}

    .timeline li.timeline-inverted .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline li.timeline-inverted .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
/** timeline circle icons **/
.timeline li .tl-circ {
    position: absolute;
    top: 23px;
    left: 50%;
    text-align: center;
    background: darkslategray;
    color: #fff;
    width: 60px;
    font-family: 'Courier New';
    font-size: 18px;
    height: 64px;
    line-height: 60px;
    margin-left: -29px;
    border: 3px solid white;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    /*z-index: 99999;*/
}
/** timeline content **/
.tl-heading h4 {
    margin: 0;
    padding: 1.5em;
    color: black;
    font-weight: bold;
    text-align: center;
    font-family: 'Courier New';
    font-size: 1.5em;
}

.tl-body p, .tl-body ul {
    margin-bottom: 0;
}

.tl-body > p + p {
    margin-top: 5px;
}

h1#timeline-title {
    font-family: 'Courier New';
    font-weight: 500;
    text-shadow: 2px 2px 2px gray;
}
/** media queries **/
@media (max-width: 991px) {
    .timeline li .timeline-panel {
        width: 44%;
    }
}

@media (max-width: 700px) {
    .page-header h1 {
        font-size: 1.8em;
    }

    ul.timeline:before {
        left: 40px;
    }

    .tldate {
        width: 140px;
    }

    ul.timeline li .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline li .tl-circ {
        top: 22px;
        left: 22px;
        margin-left: 0;
    }

    ul.timeline > li > .tldate {
        margin: 0;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/*Timeline End*/


