@{
    ViewData["Title"] = "Confirm Email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Thank you for registering. An email has been sent to your account. Please click the link in the 
        email to complete the registration process.
    </p>
</div>
